# For Interactive Analysis
jupyter
ipykernel

# To make HTTP requests and download data
requests

# Scientific Computing libraries
numpy
pandas
matplotlib
Pillow

# Deep Learning Libraries
albumentations
torch
torchvision
torchaudio
lightning

# Cloud Computing
azureml-core
azure-ai-ml
azure-identity

# Utils and Extras
tqdm
rich

# Devtools
black

# Deployment and Serving
streamlit